body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.App {
  display: block;
}

#content {
  float: right;
  width: calc(100% - 250px);
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#content.active {
  width: calc(100% - 80px);
}